.wallet-container {
    text-align: center;
}
.wallet {
    width: calc(100% - 20px);
    @media only screen and (min-width: 601px) {
        width: calc(100% - 50px);
    }
    @media only screen and (min-width: 1000px) {
        width: calc(100% - 100px);
    }
    @media only screen and (min-width: 1200px) {
        width: calc(100% - 200px);
    }
    
}


.wallet-no-display {
    display: none;
}

.wallet-display {
    display: initial;
    z-index: 10000;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.remove-wallet {
    display: none;
}